<div class="panel-header panel-header-sm">
</div>
<div class="main-content">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h5 class="title">Clasificación</h5>
                </div>
                <div class="card-body">
                    <form>

                        <div class="col-md-6 pr-1">
                            <div class="form-group">
                                <i class="fas fa-search" aria-hidden="true"></i><label>Segmento</label>
                                <input class="form-control form-control-sm ml-3 w-75" type="text" placeholder="Search" aria-label="Search">

                            </div>
                        </div>
                        <div class="col-md-6 pr-1">
                            <div class="form-group">
                                <i class="fas fa-search" aria-hidden="true"></i><label>Familia</label>
                                <input class="form-control form-control-sm ml-3 w-75" type="text" placeholder="Search" aria-label="Search">

                            </div>
                        </div>
                        <div class="col-md-6 pr-1">
                            <div class="form-group">
                                <i class="fas fa-search" aria-hidden="true"></i><label>Clase</label>
                                <input class="form-control form-control-sm ml-3 w-75" type="text" placeholder="Search" aria-label="Search">

                            </div>
                        </div>

                        <div class="col-md-6 pr-1">
                            <div class="form-group">
                                <i class="fas fa-search" aria-hidden="true"></i><label>Producto</label>
                                <input class="form-control form-control-sm ml-3 w-75" type="text" placeholder="Search" aria-label="Search">

                            </div>
                        </div>

                        <div class="col-md-3  pl-1">
                            <div class="form-group">
                                <button class="btn btn-primary btn-block">Buscar</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12 pl-1">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class=" text-primary">
                                    <th>
                                    </th>
                                    <th>
                                        Cód. Segmento
                                    </th>
                                    <th class="text-center">
                                        Segmento
                                    </th>
                                    <th>
                                        cód. Familia
                                    </th>
                                    <th class="text-center">
                                        Familia
                                    </th>
                                    <th>
                                        cód. Clase
                                    </th>
                                    <th class="text-center">
                                        Clase
                                    </th>
                                    <th>
                                        cód. Producto
                                    </th>
                                    <th class="text-center">
                                        Producto
                                    </th>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            <div class="form-check">
                                                <label class="form-check-label">
                                              <input class="form-check-input" type="checkbox" checked>
                                              <span class="form-check-sign"></span>
                                            </label>
                                            </div>
                                        </td>
                                        <td>
                                            95
                                        </td>
                                        <td>
                                            Terrenos, Edificios, Estructuras y Vías
                                        </td>
                                        <td>
                                            9510
                                        </td>
                                        <td>
                                            Parcelas de tierra
                                        </td>
                                        <td>
                                            951015
                                        </td>
                                        <td>
                                            Lotes residenciales
                                        </td>
                                        <td>
                                            95101501
                                        </td>
                                        <td>
                                            Parcela para vivienda unifamiliar
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="form-check">
                                                <label class="form-check-label">
                                              <input class="form-check-input" type="checkbox" checked>
                                              <span class="form-check-sign"></span>
                                            </label>
                                            </div>
                                        </td>
                                        <td>
                                            95
                                        </td>
                                        <td>
                                            Terrenos, Edificios, Estructuras y Vías
                                        </td>
                                        <td>
                                            9514
                                        </td>
                                        <td>
                                            Estructuras y edificios prefabricados
                                        </td>
                                        <td>
                                            951419
                                        </td>
                                        <td>
                                            Edificios y estructuras prefabricados médicos
                                        </td>
                                        <td>
                                            95141903
                                        </td>
                                        <td>
                                            Unidad odontológica
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="col-md-3  pl-1">
                        <a href="/documentation" class="btn btn-primary btn-block">
                            Guardar
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>