<div class="panel-header panel-header-sm">
</div>
<div class="main-content">
    <div class="row">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">
                    <h5 class="title">{{title}}</h5>
                </div>
                <div class="card-body">
                    <form id="sesion" #sesion="ngForm" (ngSubmit)="login(sesion)" [hidden]="autenticado">
                        <div class="row">
                            <div class="col-md-8 pr-1">
                                <div class="form-group">
                                    <label>Usuario</label>
                                    <input type="text" name="usuario" class="form-control" placeholder="Usuario" ngModel>
                                </div>
                            </div>
                            <div class="col-md-8 pr-1">
                                <div class="form-group">
                                    <label>Contraseña</label>
                                    <input type="password" name="password" class="form-control" placeholder="Contraseña" ngModel>
                                </div>
                            </div>
                            <div class="col-md-6 pr-1 ">
                                <div class="form-group ">
                                    <br>
                                    <a href="/newuser " class="text-dark ">¿No tiene cuenta?, registrese aquí</a>

                                </div>
                            </div>

                        </div>
                        <div class="col-md-4 pl-1 ">
                            <div class="form-group ">
                                <a (click)="ingresar()" class="btn btn-primary btn-block ">Iniciar Sesión</a>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>

</div>