<div class="panel-header panel-header-sm">
</div>
<div class="main-content">
    <div class="row">
        <div class="col-md-8">
            <div class="card">
                <div class="card-body">
                    <form>
                        <h5 class="title">Revisión de documentos</h5>
                        <br>
                        <div class="col-md-12">
                            <div>
                                <label>NIT/CC</label>
                                <input type="text" class="form-control" placeholder="" name="identificacion" [(ngModel)]="id" disabled>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Nombre del proveedor</label>
                                <input type="text" class="form-control" name="nombre" [(ngModel)]="name" disabled>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Estado de la revisión</label>
                                <input type="text" class="form-control" name="estado" [(ngModel)]="status" disabled>
                            </div>
                        </div>
                    </form>

                    <br>
                </div>
            </div>
        </div>

    </div>

    <div class="col-md-12 pl-1 ">
        <div class="row ">
            <div class="col-md-12 ">
                <div class="card ">
                    <div class="card-body ">
                        <div class="card-header ">
                            <h5 class="title ">Documentos a revisar</h5>
                            <br>
                            <div>A continuación, usted podrá aceptar o rechazar un documento del proveedor seleccionado:</div>
                            <br>
                        </div>
                        <div class="table-responsive ">
                            <table class="table ">
                                <thead class=" text-primary ">
                                    <th class="text-center ">
                                        Número
                                    </th>
                                    <th class="text-center ">
                                        Descargar documento
                                    </th>
                                    <th>
                                        Aceptar/Rechazar
                                    </th>

                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="text-center ">
                                            1
                                        </td>
                                        <td class="text-center ">
                                            Certificado de calidad
                                        </td>
                                        <td>
                                            <div class="form-check">
                                                <label class="form-check-label">
                                              <input class="form-check-input" type="checkbox" (change)="change(item)" checked>
                                              <span class="form-check-sign"></span>
                                            </label>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="card-body">
                            <div class="col-md-4 pl-1 ">
                                <a (click)="saveSeleccionProveedor()" class="btn btn-primary text-white">
                                  Atrás
                                </a>
                            </div>
                            <div class="col-md-4">
                                <div>
                                    <label>Cambiar estado de la revisión</label>
                                    <select class="form-control">
                                    <option value="0">Seleccione una opción</option>
                                    <option value="compras">Activa</option>
                                    <option value="almacenista">Reproceso</option>
                                    <option value="proveedor">Finalizada</option>
                                </select> </div>
                            </div>

                            <div class="col-md-4 pl-1 ">
                                <a (click)="saveSeleccionProveedor()" class="btn btn-primary float-right text-white">
                                  Guardar
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>