<div class="panel-header panel-header-sm">
</div>
<div class="main-content">
    <div class="row">
        <div class="col-md-10">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Alternativas Seleccionadas</h4>
                </div>
                <div class="card-body border-bottom">
                    <div class="table">
                        <table class="table">
                            <thead class=" text-primary">
                                <th>
                                    NIT/CC
                                </th>
                                <th>
                                    Nombre
                                </th>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of proveedores">
                                    <td>
                                        {{item.nit}}
                                    </td>
                                    <td>
                                        {{item.nombre}}
                                    </td>

                                </tr>

                            </tbody>
                        </table>
                    </div>

                </div>
                <div class="card-header">
                    <h4 class="card-title">Criterios de selección</h4>
                </div>
                <div class="card-body border-bottom">
                    <div class="table">
                        <table class="table">
                            <thead class=" text-primary">
                                <th>
                                    Criterio
                                </th>
                                <th>
                                    Descripción
                                </th>
                            </thead>
                            <tbody>
                                <tr *ngFor="let criterio of criterios">
                                    <td>
                                        {{criterio.criterio}}
                                    </td>
                                    <td>
                                        {{criterio.descripcion}}
                                    </td>

                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-md-3  pl-1">
                    <a (click)="siguiente()" class="btn btn-primary btn-block">
                      Siguiente
                  </a>
                </div>
            </div>

        </div>

    </div>

</div>