<div class="panel-header panel-header-sm">
</div>
<div class="main-content">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Criterios de Aceptación</h4>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table">
                            <thead class=" text-primary">
                                <th>
                                    Criterio
                                </th>
                                <th>
                                    Peso
                                </th>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        Criterio 1
                                    </td>
                                    <td>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <input type="number" class="form-control" placeholder="20%">
                                            </div>
                                        </div>
                                    </td>

                                </tr>
                                <tr>
                                    <td>
                                        Criterio 2
                                    </td>
                                    <td>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <input type="number" class="form-control" placeholder="50%">
                                            </div>
                                        </div>
                                    </td>

                                </tr>
                                <tr>
                                    <td>
                                        Criterio 3
                                    </td>
                                    <td>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <input type="number" class="form-control" placeholder="30%">
                                            </div>
                                        </div>
                                    </td>

                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-md-3  pl-1">
                    <a href="/AhpComponent" class="btn btn-primary btn-block">
                      Siguiente
                  </a>
                </div>
            </div>

        </div>

    </div>

</div>