<p><strong>Resultado total de la evaluacion</strong></p>


<div class="table-responsive">
        <table class="table">
            <thead class=" text-primary">
                <th>
                    Atributo
                </th>
                <th>
                    Calificacion total
                </th>
                <th>
                    Notas
                </th>
            </thead>
            <tbody>
                <tr>
                    <td>
                        Estes es criiterio agregado anteiormente
                    </td>
                    <td>
                        0.7
                    </td>
                    <td>
                        Medio
                    </td>
                </tr>
                <tr>
                    <td>
                        criterio 2
                    </td>
                    <td>
                        0.9
                    </td>
                    <td>
                        alto
                    </td>
                </tr>
                <tr>
                    <td>
                        criterio 3
                    </td>
                    <td>
                        0.7
                    </td>
                    <td>
                        alto
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
      