<div class="panel-header panel-header-sm">
</div>
<div class="main-content">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <br>
                    <h5 class="title">Gestión de materiales</h5>
                    <p>Seleccione si usted desea crear una nueva transacción o si desea gestionar una existente:</p>
                </div>
                <div style="text-align: center;" class="card-body">
                    <div class="col-md-4  pl-1">
                        <a href="/matclassification" class="btn btn-primary btn-block">
                            Crear transacción 
                        </a>
                        <a href="/transaction" class="btn btn-primary btn-block">Gestion de transacción </a>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>