<div class="panel-header panel-header-sm">
</div>
<div class="main-content">
    <div class="row">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">
                    <h5 class="title">Pagina en construcción</h5>
                </div>
                <div class="card-body">
                    <form>
                        <div class="col-md-4  pl-1">
                            <a class="btn btn-primary btn-block text-white" (click)="showNotification('top','left')">
                                Siguiente
                            </a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>