<div class="panel-header panel-header-sm">
</div>
<div class="main-content">
    <div class="row">
        <div class="col-md-8">
            <div class="card">
                <div class="card-body">
                    <form>
                        <div class="card-header">
                            <h5 class="title">Calificación de selección</h5>
                            <div>A continuación, usted debe calificar los proveedores a través del AHP:</div>
                        </div>
                        <br>
                        <div class="col-md-12">
                            <div>
                                <label>Titulo de selección</label>
                                <input type="text" class="form-control" placeholder="" name="tituloSeleccion" [(ngModel)]="titulo" disabled>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Descripción</label>
                                <input type="text" class="form-control" placeholder="descripcion" name="descripcionSelec" [(ngModel)]="descripcion" disabled>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>
    <br>
    <div class="main-content pl-1">
        <div class="row" style="background-color: white;">
            <div class="col-md-6">
                <div class="card ">
                    <div class="card-body ">
                        <div class="card-header ">
                            <h5 class="title ">Ponderar Alternativas vs Criterios</h5>
                        </div>
                        <div class="table" *ngFor=" let item of criterios; let i=index ">
                            <table class="table ">
                                <thead class=" text-primary ">
                                    <th>
                                        {{item.criterio}}
                                    </th>
                                    <th class="text-left text-black-50" *ngFor="let proveedor of proveedores">
                                        {{proveedor.nombre}}
                                    </th>

                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of proveedores; let h=index ">
                                        <td class="text-black-50">
                                            <b>{{item.nombre}}</b>
                                        </td>
                                        <td *ngFor="let proveedor of proveedores; let j=index">
                                            <div class="col-md-8">
                                                <div class="form-group">
                                                    <input type="number" class="form-control webkit-outer-spin-button" placeholder="" required>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <!--tr>
                                        <td><label>Total</label></td>
                                        <td *ngFor="let proveedor of proveedores; let z=index ">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>{{total}}</label>
                                                </div>
                                            </div>
                                        </td>
                                    </tr-->

                                </tbody>

                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card ">
                    <div class="card-body ">
                        <div class="card-header ">
                            <h5 class="title ">Ponderar Criterios vs Criterios</h5>
                        </div>
                        <div class="table">
                            <table class="table ">
                                <thead class=" text-primary ">
                                    <th>Criterios</th>
                                    <th class="text-black-50" *ngFor=" let item of criterios; let i=index ">
                                        {{item.criterio}}
                                    </th>
                                </thead>
                                <tbody>
                                    <tr *ngFor=" let item of criterios; let i=index ">
                                        <td class="text-black-50">
                                            <b> {{item.criterio}}</b>
                                        </td>
                                        <td *ngFor=" let item of criterios; let i=index ">
                                            <div class="col-md-8">
                                                <div class="form-group">
                                                    <input type="number" class="form-control" placeholder="" required>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <!--tr>
                                        <td><label>Total</label></td>
                                        <td *ngFor="let proveedor of proveedores; let z=index ">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>{{total}}</label>
                                                </div>
                                            </div>
                                        </td>
                                    </tr-->

                                </tbody>

                            </table>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-md-12 pl-1 ">
                <a (click)="saveSeleccionProveedor() " class="btn btn-primary float-right text-white">
                  Guardar
                </a>
            </div>
        </div>
    </div>
</div>