<div class="panel-header panel-header-sm">
</div>
<div class="main-content">
    <div class="row">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">
                    <h5 class="title">Documentos</h5>
                </div>
                <div class="card-body">
                    <form>
                        <div class="col-md-12 pr-1">
                            <label class="col-md-12 pr-1">Documento 1</label>
                            <div class="col-md-12 pr-1">
                                <textarea rows="2" cols="50" class="form-group" placeholder="descripción" value=""></textarea>

                                <!-- <input type="text" name="descripcion" class="form-group" placeholder="descripcion"-->
                            </div>
                        </div>
                        <div class="col-md-12 pr-1">
                            <input type="file" class="/inputfile" name="archivos1[]">
                        </div>
                        <div class="col-md-12 pr-1">
                            <label class="col-md-12 pr-1">Documento 2</label>
                            <div class="col-md-12 pr-1">
                                <textarea rows="2" cols="50" class="form-group" placeholder="descripción" value=""></textarea>

                                <!-- <input type="text" name="descripcion" class="form-group" placeholder="descripcion"-->
                            </div>
                        </div>
                        <div class="col-md-12 pr-1">
                            <input type="file" class="/inputfile" name="archivos1[]">
                        </div>
                        <div class="col-md-12 pr-1">
                            <label class="col-md-12 pr-1">Documento 3</label>
                            <div class="col-md-12 pr-1">
                                <textarea rows="2" cols="50" class="form-group" placeholder="descripción" value=""></textarea>

                                <!-- <input type="text" name="descripcion" class="form-group" placeholder="descripcion"-->
                            </div>
                        </div>
                        <div class="col-md-12 pr-1">
                            <input type="file" class="/inputfile" name="archivos1[]">
                        </div>
                        <div class="col-md-12 pr-1">
                            <label class="col-md-12 pr-1">Documento 4</label>
                            <div class="col-md-12 pr-1">
                                <textarea rows="2" cols="50" class="form-group" placeholder="descripción" value=""></textarea>

                                <!-- <input type="text" name="descripcion" class="form-group" placeholder="descripcion"-->
                            </div>
                        </div>
                        <div class="col-md-12 pr-1">
                            <input type="file" class="/inputfile" name="archivos1[]">
                        </div>
                        <div class="col-md-12 pr-1">
                            <label class="col-md-12 pr-1">Documento 5</label>
                            <div class="col-md-12 pr-1">
                                <textarea rows="2" cols="50" class="form-group" placeholder="descripción" value=""></textarea>

                                <!-- <input type="text" name="descripcion" class="form-group" placeholder="descripcion"-->
                            </div>
                        </div>
                        <div class="col-md-12 pr-1">
                            <input type="file" class="/inputfile" name="archivos1[]">
                        </div>

                        <div class="col-md-12  pl-1">
                            <label> </label>
                        </div>
                        <div class="col-md-4  pl-1">
                            <a href="" class="btn btn-primary btn-block" (click)="showNotification('top','left')">
                                Guardar
                            </a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>