<div class="panel-header panel-header-sm">
</div>
<div class="main-content">
    <div class="row">
        <div class="col">
            <div class="card card-upgrade">
                <div class="card-header">
                    <h5 class="card-title">PAGINA EN CONSTRUCCION</h5>
                </div>
                <div class="card-body">
                    <div class="table-responsive table-upgrade">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>