<p><strong>Calificación Criterios</strong></p>

<div class="container m-5">
    <form>
        <div style="width: 50%;" *ngFor="let criterio of criterios; let i = index" class="form-group row">
            <label class="col-sm-2 col-form-label"> {{ criterio.criterio }}</label>
            <div class="col-sm-10">
                <input class="form-control"
                type="text"
                placeholder="peso"
                required>
            </div>
        </div>
        <div style="text-align: right;">
            <button type="submit" class="btn btn-primary">Siguiente</button>
        </div>
    </form>
</div>
      