<p><strong>Calificacion Criterios</strong></p>


<div class="table-responsive">
        <table class="table">
            <thead class=" text-primary">
                <th>
                    Atributo
                </th>
                <th>
                    Calificacion
                </th>
            </thead>
            <tbody>
                <tr>
                    <td>
                        Estes es criiterio agregado anteiormente
                    </td>
                    <td>
                        6
                    </td>
                </tr>
                <tr>
                        <td>
                            Criterio 2
                        </td>
                        <td>
                            3
                        </td>
                 </tr>
                 <tr>
                    <td>
                            Criterio 3
                        </td>
                        <td>
                        1
                        </td>
                    </tr>
            </tbody>
        </table>
    </div>
      