<div class="panel-header panel-header-sm">
</div>
<div class="main-content">
    <div class="row">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">
                    <h5 class="title">Buscar Proveedor</h5>
                </div>
                <div class="card-body">
                    <form>

                        <div class="col-md-12 pr-1">
                            <div>
                                <label>Licitación/Orden Compra</label>
                                <select class="form-control">
                                <option value="0">Seleccione una opción</option>
                                <option value="licitacion1">Licitación 1</option>
                                <option value="licitacion2">Licitación 2</option>
                                <option value="licitacion3">Licitación 3</option>
                            </select> </div>
                        </div>
                        <div class="col-md-12 pr-1">
                            <div class="form-group">
                                <label>Clasificación</label>
                                <input type="text" class="form-control" placeholder="Clasificación">
                            </div>
                        </div>
                        <div class=" col-md-3 pl-1 text-white ">
                            <a class="btn btn-primary btn-block ">
                              Guardar
                          </a>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>

    <div class="col-md-12 pl-1 ">
        <div class="row ">
            <div class="col-md-12 ">
                <div class="card ">
                    <div class="card-body ">
                        <div class="card-header ">
                            <h5 class="title ">Selección Proveedor</h5>
                        </div>
                        <div class="table-responsive ">
                            <table class="table ">
                                <thead class=" text-primary ">
                                    <th>
                                        CC/NIT/RUT
                                    </th>
                                    <th class="text-center ">
                                        Nombre
                                    </th>
                                    <th>
                                        Seleccionar
                                    </th>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            9500621
                                        </td>
                                        <td>
                                            Proveedor de prueba
                                        </td>
                                        <td>
                                            <div class="form-check ">
                                                <label class="form-check-label ">
                                            <input class="form-check-input " type="checkbox" checked>
                                            <span class="form-check-sign "></span>
                                            </label>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            1234567
                                        </td>
                                        <td>
                                            Proveedor de prueba 2
                                        </td>
                                        <td>
                                            <div class="form-check ">
                                                <label class="form-check-label ">
                                          <input class="form-check-input " type="checkbox" checked>
                                          <span class="form-check-sign "></span>
                                        </label>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="col-md-3 pl-1 ">
                        <a href="/criterion " class="btn btn-primary btn-block ">
                          Guardar
                      </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>