<div class="panel-header panel-header-lg">
    <div class="col-lg-4 col-md-6">
        <div class="card card-chart">
            <div class="card-header">
                <h4 class="card-title">Iniciar Sesión</h4>
                <div ngbDropdown>
                    <form>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Usuario</label>
                            <input type="number" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="cc/nit">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Contraseña</label>
                            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Contraseña">
                        </div>

                        <button type="submit" class="btn btn-primary">Ingresar</button>
                    </form>
                    <br>
                    <a href="/newuser" class="text-dark"> ¿No tienes cuenta?, registrate aquí</a>
                    <br>
                </div>
            </div>

        </div>
    </div>

</div>
<br><br>
<div class="main-content">
    <div class="row">
        <div class="col-lg-4">
            <div class="card card-chart">
                <div class="card-header">
                    <h4 class="card-title">Proveedores</h4>
                    <div ngbDropdown>
                        <button type="button" class="btn btn-round btn-default dropdown-toggle btn-simple btn-icon no-caret" ngbDropdownToggle>
              <i class="now-ui-icons loader_gear"></i>
            </button>
                        <div ngbDropdownMenu class="dropdown-menu-right">
                            <a class="dropdown-item" href="#">Adicionar</a>
                            <a class="dropdown-item" href="#">Modificar</a>
                            <a class="dropdown-item text-danger" href="#">Elimminar</a>
                        </div>
                    </div>
                </div>
                <div class="card-body">

                </div>
                <div class="card-footer">
                    <div class="stats">
                        <i class="now-ui-icons arrows-1_refresh-69"></i> Just Updated
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="card card-chart">
                <div class="card-header">
                    <h4 class="card-title">Materiales</h4>
                    <div ngbDropdown>
                        <button type="button" class="btn btn-round btn-default dropdown-toggle btn-simple btn-icon no-caret" ngbDropdownToggle>
              <i class="now-ui-icons loader_gear"></i>
            </button>
                        <div ngbDropdownMenu class="dropdown-menu-right">
                            <a class="dropdown-item" href="#">Adicionar</a>
                            <a class="dropdown-item" href="#">Editar</a>
                            <a class="dropdown-item text-danger" href="#">Eliminar</a>
                        </div>
                    </div>
                </div>
                <div class="card-body">

                </div>
                <div class="card-footer">
                    <div class="stats">
                        <i class="now-ui-icons arrows-1_refresh-69"></i> Just Updated
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="card card-chart">
                <div class="card-header">
                    <h4 class="card-title">Cuentas</h4>
                </div>
                <div class="card-body">

                </div>
                <div class="card-footer">
                    <div class="stats">
                        <i class="now-ui-icons ui-2_time-alarm"></i> Last 7 days
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>