<p><strong>Buscar Proveedores</strong></p>


<div class="table-responsive">
        <table class="table">
            <thead class=" text-primary">
                <th>
                    Criterio
                </th>
                <th>
                    Descripcion
                </th>
                <th>
                    Peso
                </th>
            </thead>
            <tbody>
                <tr>
                    <td>
                        1
                    </td>
                    <td>
                        Esta es la descripcion del criterio de fds
                    </td>
                    <td>
                        25%
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
      