<div class="panel-header panel-header-sm">
</div>
<div class="main-content">
    <div class="row">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">
                    <h5 class="title">Cambiar contraseña</h5>
                </div>
                <div class="card-body">
                    <form>
                        <div class="row">
                            <div class="col-md-5 pr-1">
                                <div class="form-group">
                                    <label>Contraseña anterior</label>
                                    <input type="password" class="form-control" placeholder="Ingrese contraseña anterior" value="">
                                </div>
                            </div>
                            <div class="col-md-5 px-1">
                                <div class="form-group">
                                    <label>Contraseña nueva</label>
                                    <input type="password" class="form-control" placeholder="Ingrese contraseña nueva" value="">
                                </div>
                            </div>

                            <div class="col-md-5 pr-1">
                                <div class="form-group">
                                    <label>Estado</label>
                                    <input type="text" disabled="" class="form-control" placeholder="En Proceso" value="">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4  pl-1">
                            <div class="form-group">
                                <button class="btn btn-primary btn-block">Guardar</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>