<p><strong>Evaluaciones Realizadas</strong></p>


<div class="table-responsive">
        <table class="table">
            <thead class=" text-primary">
                <th>
                    NIT/CC
                </th>
                <th>
                    Nombre
                </th>
                <th>
                    Año
                </th>
                <th>
                    Semestre
                </th>
                <th>
                    Ver detalle
                </th>
            </thead>
            <tbody>
                <tr>
                    <td>
                        123
                    </td>
                    <td>
                        Jacobo
                    </td>
                    <td>
                       2020
                    </td>
                    <td>
                        1
                    </td>
                    <td>
                        <button class="btn btn-warning mr-1">
                            Detalle
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>