<p><strong>Buscar Evaluaciones</strong></p>

<form (ngSubmit)="seachEvaluation(form)" #form="ngForm">
    <div class="form-row">
        <div class="form-group col-md-3">
            <label for="inputEmail4">NIT/CC</label>
            <input type="text" class="form-control" placeholder="NIT/CC" name="id"  [(ngModel)]="evaluation.id" #id="ngModel">
        </div>
        <div class="form-group col-md-3">
            <label for="inputPassword4">Nombre proveedor</label>
            <input type="text" class="form-control" placeholder="Nombre del proveedor" name="name"  [(ngModel)]="evaluation.name" #name="ngModel">
        </div>
        <div class="form-group col-md-3">
            <label for="inputPassword4">Año</label>
            <input type="text" class="form-control" placeholder="2020" name="date"  [(ngModel)]="evaluation.date" #date="ngModel">
        </div>
        <div class="form-group col-md-3">
            <label for="inputPassword4">Semestre</label>
            <input type="text" class="form-control" placeholder="1" name="semester"  [(ngModel)]="evaluation.semester" #semester="ngModel">
        </div>
    </div>
    <div style="text-align: right;">
        <button type="submit" class="btn btn-primary btn-sm"><small>Buscar</small></button>
    </div>
</form>

<p><strong>Evaluaciones Realizadas</strong></p>

<div class="table-responsive">
    <table class="table">
        <thead class=" text-primary">
            <th>
                NIT/CC
            </th>
            <th>
                Nombre
            </th>
            <th>
                Año
            </th>
            <th>
                Semestre
            </th>
            <th>
                Ver detalle
            </th>
        </thead>
        <tbody>
            <tr>
                <td>
                    123
                </td>
                <td>
                    Jacobo
                </td>
                <td>
                    2020
                </td>
                <td>
                    1
                </td>
                <td>
                    <button class="btn btn-warning mr-1">
                        Detalle
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>