
<div class="container m-5">
    <div class="row">
        <div class="col-md-12">

             <div class="card">
                <div class="card-header">
                    <app-tittle></app-tittle>
                </div>

                <div class="card-body">
                    <hr>
                    <app-buscar-evaluaciones></app-buscar-evaluaciones>
                    <hr>
                    <app-buscar-proveedores></app-buscar-proveedores>
                    <hr>
                    <app-seleccionar-proveedores></app-seleccionar-proveedores>
                </div>

                <button type="submit" class="btn btn-primary">Siguiente</button>
            </div>

          <!-- <div class="card">
                    <div class="card-header">
                        <app-tittle></app-tittle>
                    </div>
    
                    <div class="card-body">
                        <hr>
                        <app-criterios-evalauacion></app-criterios-evalauacion>
                    </div>
    
                    <button type="submit" class="btn btn-primary">Siguiente</button>
            </div>-->

           <!-- <div class="card">
                    <div class="card-header">
                        <app-tittle></app-tittle>
                    </div>
    
                    <div class="card-body">
                        <hr>
                        <app-calificacion-criterio></app-calificacion-criterio>
                    </div>
    
                    <button type="submit" class="btn btn-primary">Siguiente</button>
            </div>-->

            <!--<div class="card">
                <div class="card-header">
                    <app-tittle></app-tittle>
                </div>

                <div class="card-body">
                    <hr>
                    <app-resultado-evaluacion></app-resultado-evaluacion>
                </div>

                <button type="submit" class="btn btn-primary">Siguiente</button>
            </div>-->


        </div>
    </div>
</div>