<p><strong>Buscar Proveedores</strong></p>


<div class="table-responsive">
        <table class="table">
            <thead class=" text-primary">
                <th>
                    NIT/CC
                </th>
                <th>
                    Nombre
                </th>
                <th>
                    Seleccionar
                </th>
            </thead>
            <tbody>
                <tr>
                    <td>
                        423423
                    </td>
                    <td>
                        m3
                    </td>
                    <td>
                        <div class="form-check">
                            <label class="form-check-label">
                            <input class="form-check-input" type="checkbox" checked>
                            <span class="form-check-sign"></span>
                        </label>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
      