<div class="panel-header panel-header-sm">
</div>
<div class="main-content">
    <div class="row">
        <div>
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Transacción 2</h4>
                </div>

                <div class="table-responsive">
                    <table class="table">
                        <thead class=" text-primary">
                            <th>
                                Material
                            </th>
                            <th>
                                Cant. Solicitada
                            </th>
                            <th>
                                Cant. Ingresada
                            </th>
                            <th>
                                Unidad de medida
                            </th>
                            <th>
                                Fecha solicitud
                            </th>
                            <th class="text-center">
                                Fecha recibido
                            </th>
                            <th class="text-center">
                                Calidad
                            </th>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    Material 1
                                </td>
                                <td class="text-center">
                                    1000
                                </td>
                                <td>
                                    <div class="col-md-6 pr-1">
                                        <div>
                                            <input class="form-control" type="number">
                                        </div>
                                    </div>
                                </td>
                                <td class="text-center">
                                    t
                                </td>
                                <td class="text-center">
                                    13/01/2020
                                </td>
                                <td class="text-center">
                                    <div class="col-md-12 pr-1">
                                        <div class="form-group">
                                            <input class="form-control form-control-sm" type="date">
                                        </div>
                                    </div>
                                </td>
                                <td>

                                </td>
                                <td>
                                    <div class="form-check">
                                        <label class="form-check-label">
                                          <input class="form-check-input" type="checkbox" checked>
                                          <span class="form-check-sign"></span>
                                        </label>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Material 2
                                </td>
                                <td class="text-center">
                                    1000
                                </td>
                                <td>
                                    <div class="col-md-6 pr-1">
                                        <div class="form-group">
                                            <input class="form-control" type="number">
                                        </div>
                                    </div>
                                </td>
                                <td class="text-center">
                                    mg
                                </td>
                                <td class="text-center">
                                    02/01/2020
                                </td>
                                <td>
                                    <div class="col-md-12 pr-1">
                                        <div class="form-group">
                                            <input class="form-control form-control-sm" type="date">
                                        </div>
                                    </div>
                                </td>
                                <td>

                                </td>
                                <td class="text-center">
                                    <div class="form-check">
                                        <label class="form-check-label">
                                          <input class="form-check-input" type="checkbox" checked>
                                          <span class="form-check-sign"></span>
                                        </label>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-md-3  pl-1">
                    <a href="/" class="btn btn-primary btn-block">
                        Guardar
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>