<nav class="navbar navbar-expand-lg navbar-transparent  navbar-absolute bg-primary fixed-top">
    <div class="container-fluid">
        <div class="navbar-wrapper">
            <div class="navbar-toggle">

            </div>
            <a class="navbar-brand" href="">{{getTitle()}}</a>
        </div>

        <div class="collapse navbar-collapse justify-content-end" id="collapseExample" [ngbCollapse]="isCollapsed">
            <ul class="navbar-nav">


                <li class="nav-item">
                    <a class="nav-link" href="">
                        <i class="now-ui-icons users_single-02"> LogOut</i>
                        <p>
                            <span class="d-lg-none d-md-block">Account</span>
                        </p>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>